<div>
  <h1>Fill With Dots</h1>
  <div class="game-container">
    <div
      #dotRefs
      class="dot"
      *ngFor="let dot of dots"
      (mouseover)="changeStyle(dotRefs)"
    ></div>
  </div>
  <div class="result">
    <div *ngIf="isGameStarted && !isGameEnded">{{ counter }}</div>
    <div *ngIf="!isGameStarted && !isGameEnded">
      Move your mouse inside the box to start the game
    </div>
    <div *ngIf="isGameStarted && isGameEnded && isWon">Wow! You Won!</div>
    <div *ngIf="isGameStarted && isGameEnded && !isWon">
      Oh no! You missed by {{ cleanCount }} dots!
    </div>
  </div>
</div>
